<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="onFilterUpdate($event)" value="all">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Book Places</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col
        class="ion-text-center ion-padding"
        offset-sm="2"
        size="12"
        size-sm="8"
      >
        <ion-spinner color="primary" name="dots"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid
    *ngIf="(!relevantPlaces || relevantPlaces.length <= 0) && !isLoading"
  >
    <ion-row>
      <ion-col class="ion-text-center" offset-sm="2" size="12" size-sm="8">
        <p>There is no bookable places right now, please come back later!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="relevantPlaces.length > 0 && !isLoading">
    <ion-row>
      <ion-col class="ion-text-center" offset-sm="2" size="12" size-sm="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle
              >{{ relevantPlaces[0].price | currency }} / Night
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img
            [alt]="relevantPlaces[0].title"
            [src]="relevantPlaces[0].imageUrl"
          ></ion-img>
          <ion-card-content>
            <p>{{ relevantPlaces[0].description }}</p>
          </ion-card-content>
          <div>
            <ion-button
              [routerLink]="['/places/tabs/discover', relevantPlaces[0].id]"
              color="primary"
              fill="clear"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
      <ion-col class="ion-text-center" offset-sm="2" size="12" size-sm="8">
        <ion-list>
          <ion-item
            *ngFor="let place of relevantPlaces | slice: 1"
            [routerLink]="['/places/tabs/discover', place.id]"
            detail
            routerDirection="forward"
          >
            <ion-thumbnail slot="start">
              <ion-img [alt]="place.title" [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
