<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-progress-bar
          type="indeterminate"
          *ngIf="isLoading"
        ></ion-progress-bar>
        <ion-text *ngIf="!isLoading && offers.length <= 0"
          >There is no offers to show.</ion-text
        >
        <ion-list *ngIf="!isLoading && offers.length > 0">
          <ion-item-sliding *ngFor="let offer of offers">
            <app-offer-item [offer]="offer"></app-offer-item>
            <ion-item-options>
              <ion-item-option
                color="success"
                [routerLink]="['/places/tabs/offers', offer.id]"
              >
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="onDelete(offer.id)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
