<div class="image-picker">
  <ion-img
    role="button"
    (click)="onPickImage()"
    class="image"
    [src]="selectedImage"
    *ngIf="selectedImage"
  ></ion-img>
  <ion-button color="primary" (click)="onPickImage()" *ngIf="!selectedImage">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Take Picture</ion-label>
  </ion-button>
</div>
<input
  type="file"
  accept="image/jpeg"
  *ngIf="usePicker"
  #filePicker
  (change)="onFileChosen($event)"
/>
