<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner color="primary" name="dots"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="bookings && bookings.length > 0"
      >
        <ion-list>
          <ion-item-sliding *ngFor="let booking of bookings" #sliding>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img [src]="booking.placeImage"></ion-img>
              </ion-avatar>
              <ion-label>
                <h5>{{booking.placeTitle}}</h5>
                <p>Guest: {{booking.guestNumber}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option
                color="danger"
                (click)="onCancel(booking.id, sliding)"
              >
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
      <ion-col
        size-sm="6"
        offset-sm="3"
        *ngIf="!bookings || bookings.length <= 0"
        class="ion-text-center ion-padding"
      >
        <ion-text>There is no bookings to show</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
