<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : place.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="saveOrEdit()">
        <ion-icon
          [name]="isEditMode ? 'checkmark' : 'pencil-outline'"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              type="text"
              autocorrect
              autocomplete
              formControlName="title"
              color="primary"
              [readonly]="!isEditMode"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea
              rows="3"
              formControlName="description"
              [readonly]="!isEditMode"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="!form.get('description').valid && form.get('description').touched"
        class="ion-padding"
      >
        <ion-col size-sm="6" offset-sm="3">
          <ion-text color="danger"
            >Description must be longer between 1 and 180 characters.</ion-text
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button class="ion-margin" color="primary" (click)="saveOrEdit()">
            {{ isEditMode ? 'Save' : 'Edit' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!--  <ion-button-->
  <!--    class="ion-margin"-->
  <!--    color="primary"-->
  <!--    [routerLink]="['/places/tabs/offers/edit', place.id]">-->
  <!--    Edit-->
  <!--  </ion-button>-->
</ion-content>
