<ion-item [routerLink]="['/places/tabs/offers', offer.id]">
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl" [alt]="offer.title"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1>{{ offer.title }}</h1>
    <div class="offer-details">
      <ion-icon name="calendar" color="danger"></ion-icon>
      <ion-text color="primary" class="space-left">{{
        offer.availableFrom | date: 'dd/MM/yyyy'
      }}</ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar" class="space-left" color="danger"></ion-icon>
      <ion-text color="primary" class="space-left">{{
        offer.availableTo | date: 'dd/MM/yyyy'
      }}</ion-text>
    </div>
  </ion-label>
</ion-item>
