<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner name="dots" color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-img
          [src]="place.imageUrl"
          [style]="
          {
            height: '300px',
            objectFit: 'cover',
            objectPosition: 'center'
          }"
        ></ion-img>
      </ion-col>
    </ion-row>
    <div class="ion-padding ion-text-center">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <p>{{ place.description }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-padding ion-text-center">
          <p>{{ place.location.address }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-padding">
          <ion-img
            class="location-image"
            [src]="place.location.imageUrl"
            [alt]="place.location.address"
          ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
          <ion-button
            [color]="isBookable ? 'primary' : 'success'"
            (click)="onBookPlace()"
            [disabled]="!isBookable"
            >{{ isBookable ? 'Book' : 'Booked' }}</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
